<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign in</title>
</head>
<body>
    <main>
        <section>
            <h1>Sign Up</h1>
            <form action="/signup" method = "post">

                
             <label for="account_name">Username</label>
            <input type="text" name="account_name" id="account_name" value="rama" placeholder="account name" required>
            <br>

            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="email address" value="rama@gmail.com" required>
            <br>

            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="password" value="rama" required>

            <br>

            <label for="cnfrm_password" placeholder="confirm password" required>Confirm Password</label>
            <input type="password" name="cnfrm_password" id="cnfrm_password" value="rama">

            <br>
            <button>login</button>

            </form>
        </section>
    </main>
    
</body>
</html>